* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    
}

.container {
    background-image: url('images/background-bar.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 50%;
    max-width: 600px;
    border-radius: 8px;
    margin-left: -600px;
    margin-bottom: 200px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#home-button {
    position: fixed;
    top: 20px;
    left: 80px;
    padding: 100px 200px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    background-image: url('images/reto.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 90px;
    padding-top: 80px;
    z-index: 10;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-bar input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 10px 30px;
    border: none;
    background-color: #45a049;
    color: #fff;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.suggestions {
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: absolute;
    width: calc(70% - 2px);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    margin-top: 275px;
    margin-left: -110px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.results-overlay {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 25%;
    max-height: 70vh;
    overflow-y: auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 8px;
    margin-right: 100px;
}

.drink {
    margin-top: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    color: #fff;
    text-align: center;
}

.drink img {
    border-radius: 5px;
    margin-top: 10px;
}

.drink ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}
